__pycache__/
*.py[cod]
*.so

.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

.env
.venv/
env/
venv/
.vscode/
.idea/

.torch/
kitti_raw/
imagenet2012/
ImageNet-C/
weights_*/
snapshots/

*.pt
*.pth
*.p
*.pickle
*.zip
*.bundle
*.log
